@{
    ViewData["Title"] = $"Hello Mr(s). {ViewData["ClientName"]}";
}
<h1>@ViewData["Title"]</h1>

<div class="list-group panel">
    <a asp-controller="Expense" asp-action="ListExpense" class="list-group-item list-group-item-action">See all group</a>
    <a asp-controller="Expense" asp-action="ListExpense" class="list-group-item list-group-item-action">See all group</a>
    <a asp-controller="Spending" asp-action="ListSpending" class="list-group-item list-group-item-action">See all spending</a>
</div>

<style>
    .panel{
        width: 50%;
    }
</style>
