@{
    ViewData["Title"] = "Welcome to expensetracker app";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div>
        <div class="panel">
            <label>Login</label>
            <input name="clientLogin"/>
        </div>

        <div class="panel">
            <label>Password</label>
            <input name="clientPassword"/>
        </div>

        <div>
            <button class="btn btn-primary btn-lg" type="submit">Enter to system</button>
        </div>
        <div>
            <span>@ViewBag.EmptyFields</span>
            <span>@ViewBag.NotFound</span>
        </div>
    </div>
</form>
<<<<<<< HEAD

=======
<a asp-action="CreateClient" class="text-info">Not an account</a>
>>>>>>> ExpenseController
<style>
    label{
        width: 150px;
    }
    .panel
    {
        margin: 15px;
    }
    span{
        color: red;
    }
</style>